@import url(OpenSans.css);
*:focus {
  outline: 1px solid #6bbcdf;
}
:root {
  font-size: 1em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
section {
  font-family: "OpenSans", sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background: #202020;
  color: #e6e6e6;
  font-size: 1rem;
  font-family: "OpenSans", sans-serif;
}
@media (min-width: 800px) {
  body {
    zoom: 75%;
  }
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
p h2 {
  font-size: 0.8em;
}
.btn {
  font-size: 1em;
  border: 1px solid #adadad;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
}
#container {
  width: 700px;
  background: #151515;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#modal_outer[open] {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  color: #e6e6e6;
}
#modal_outer[open]::backdrop {
  background: #000000b3;
}
#modal_outer[open] #modal_mid {
  padding: 1em;
  box-shadow: 0 0 20px 12px black;
  background: #000000b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #303030;
  border-radius: 0.5em;
}
#modal_outer[open] #modal_mid #modal_inner {
  padding: 1em 0;
}
#list_of_tabs {
  width: 100%;
  background: #252525;
  display: flex;
  justify-content: space-between;
}
#list_of_tabs .sel {
  background: #151515;
}
#list_of_tabs a {
  display: inline-block;
  border: 1px solid #353535;
  border-bottom: none;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.75rem;
  cursor: pointer;
  text-decoration: none;
  color: #e7e7e7;
  font-weight: bold;
  font-size: 1em;
}
#content_of_tabs {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content_of_tabs #key_shapes {
  display: flex;
  align-items: center;
}
#content_of_tabs #key_shapes p {
  font-size: 0.8em;
}
#content_of_tabs #content_bitting select {
  border-radius: 0.5em;
}
#content_of_tabs #content_bitting textarea,
#content_of_tabs #content_bitting input {
  font-size: 1.2rem;
  border: 2px solid #999;
  border-radius: 0.5em;
  padding: 3px 6px;
  margin: 0.25rem 0 0 0;
  font-family: "Lucida Console", monospace;
  resize: none;
}
#content_of_tabs #content_bitting small {
  font-size: 1rem;
  margin: 1em 0;
}
#content_of_tabs #content_bitting #types select {
  font-size: large;
  margin: 0.5em 0;
  padding: 0.5em;
}
#content_of_tabs #content_align {
  width: 100%;
}
#content_of_tabs #content_align #align_tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
#content_of_tabs #content_align #align_tools input {
  scale: 150%;
}
#content_of_tabs #content_align #align_tools2 {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#content_of_tabs #content_photo ul {
  margin-left: 2em;
}
#content_of_tabs #content_photo ul + p {
  margin: 1em 0;
}
#align {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#align canvas {
  width: 60%;
}
#code {
  padding: 0 0 15px 0;
  border-spacing: 0;
}
#code th {
  font-weight: bold;
  font-size: 70%;
  padding: 0px 10px;
  border: none;
  color: #f5f5f5;
}
#code td {
  width: 3.75em;
  text-align: center;
  padding: 0px 0.5em;
  font-size: 50%;
}
#code td .sel {
  border-color: #dddddd !important;
}
#code tr:nth-child(1) td {
  font-family: monospace;
  font-size: 140%;
  font-weight: bold;
  border: 4px solid transparent;
  border-bottom: none;
  height: 3.75em;
}
#code tr:nth-child(2) td {
  border: 4px solid transparent;
  border-top: 4px solid transparent;
  color: black;
}
#code tr:nth-child(3) td {
  font-size: 20px;
}
#graph {
  background: whitesmoke;
  margin: 0.5rem 0;
}
#svg img {
  filter: invert(1);
}
#footer {
  font-size: 20px;
  text-align: right;
  padding: 0.5em;
}
#footer a {
  color: #ded754;
  text-decoration: none;
  padding-right: 20px;
}
#footer a:hover {
  color: #de8190;
  background: inherit;
}
.hide {
  display: none;
}
.hl {
  border-color: #e6e6e6 !important;
  background: #101010 !important;
  cursor: pointer;
}
.good {
  background: #88ff88 !important;
}
.maybe {
  background: #ded754 !important;
}
.bad {
  background: #de8190 !important;
}
